/* Fundo igual ao login */
.sistema-bg {
  background-image: url('/imagens/login.jpg'); 
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card*/
.sistema-card {
  width: calc(100% - 1cm);
  height: calc(100% - 1cm);
  background: rgba(255, 255, 255, 0.92);
  backdrop-filter: blur(6px);
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Título */
.titulo-sistema {
  font-size: 28px;
  font-weight: 600;
}

.titulo-sistema span {
  color: #05107a;
}

/* Área de busca */
.search-area {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-input {
  padding: 12px;
  width: 300px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

/* Botões */
.btn {
  padding: 12px 18px;
  cursor: pointer;
  width: 40px;   /* largura */
  height: 40px;   /* altura */
  background-size: contain;
  background-position: cover;
  background-color: transparent;
}

.btn-pesquisar {
  background-image: url('/imagens/pesquisar.png'); 
}

.btn-deletar {
  background-image: url('/imagens/deletar.png'); 
}

.btn-atualizar {
  background-image: url('/imagens/atualizar.png'); 
}

/* Tabela */
.tabela-resultados {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tabela-resultados th,
.tabela-resultados td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.tabela-resultados th {
  background: #f2f2f2;
  text-align: left;
}

/*CARD DELETE*/
.confirm-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.btn-card
{
  cursor: pointer;
  width: 50px;   /* largura */
  height: 40px;   /* altura */
  background-position: cover;
  background-color: black;
  text-align: center;
  margin: 0 5px;
}

.confirm-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  min-width: 300px;
}

.confirm-content h2 {
  margin-bottom: 15px;
}

.confirm-content p {
  margin-bottom: 20px;
}

.confirm-content .btn {
  margin: 0 10px;
}


/*CARD PARA UPDATE*/
.update-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
  z-index: 1000;
  max-height: 80vh;
  overflow-y: auto;
}

.update-card input {
  display: block;
  margin: 5px 0;
  padding: 5px;
  width: 100%;
}

.update-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
