/* Fundo da página */
.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/imagens/login.jpg'); 
  background-size: cover;     
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

/* Card central */
.container {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 500px;
  text-align: center;
}


h1 {
  font-size: 28px;
  color: #222;
  margin-bottom: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.subtitle {
  color: #666;
  margin-bottom: 25px;
  font-size: 18px;
}

/* Inputs com ícones */
.input-group {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  position: absolute;
  left: 15px;
  color: #777;
}

input {
  width: 100%;
  padding: 12px 15px 12px 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
  color: #333;
  background-color: #fff;
}

input:focus {
  border-color: #52585c;
}

/* Botão */
button {
  width: 100%;
  background-color: #52585c;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #52585c;
}

/* Card Erro*/
.erro {
  color: rgb(160, 13, 13);
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

/* Link de cadastro */
.register {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.register a {
  color: #52585c;
  text-decoration: none;
  font-weight: bold;
}

.register a:hover {
  text-decoration: underline;
}

/* Responsivo */
@media (max-width: 600px) {
  .container {
    padding: 30px 25px;
  }
  h1 {
    font-size: 24px;
  }
}

/* Página Cadastro*/
.cadastro-page {
  flex-direction: column; 
}

.back-button a {
  display: inline-block;
  margin-top: 20px;
  background-color: #52585c;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.back-button a:hover {
  background-color: #52585c;
}

